In [148]:
import pandas as pd

# figures library
import matplotlib
matplotlib.use('agg')

import matplotlib.pyplot as plt
plt.rcParams.update({'pdf.fonttype': 42})

import seaborn as sns
sns.set(style='whitegrid',context="poster")

In [149]:
def gap(original, our):
    return 100*(our-original)/original

def label(gap): 
    if gap > 0:
        return "damodaran"
    if gap < 0:
        return "our"
    return "equal"

def label_nuances(gap): 
    if gap > 1:
        return ">1"
    if gap < -1:
        return "< -1"
    if gap > 0:
        return " 0 to 1"
    if gap < 0:
        return "-1 to 0"
    return "equal"

def size(jobs):
    if jobs <= 20:
        return "small"
    if jobs <=100:
        return "medium"
    return "large"

In [150]:
original = pd.read_csv("../processed-datasets/damodaran/damodaran-original.csv",index_col=0)
our = pd.read_csv("../processed-datasets/damodaran/damodaran-our-sa-time-wise.csv",index_col=0)
desc = pd.read_csv("../processed-datasets/damodaran/damodaran-instance-properties.csv")
df = pd.merge(original,our)
df = pd.merge(df,desc)
df["gap"] = df.apply(lambda row: gap(row["damodaran_mean"],row["our_sa_mean"]),axis=1)
df["label"] = df.apply(lambda row: label(row["gap"]),axis=1)
df["label_nuances"] = df.apply(lambda row: label_nuances(row["gap"]),axis=1)
df["size"] = df.apply(lambda row: size(row["Jobs"]),axis=1)

In [151]:
df

,instance_name,damodaran_min,damodaran_mean,our_sa_min,Jobs,our_sa_mean,size,MaxP,Rho,MaxS,Instance,Machines,LB,gap,label,label_nuances
0,100J_10p_3m_10%_20s-1.dzn,104,112.166667,102,100,103.2,medium,10,10,20,1,3,93,-7.994056,our,< -1
1,100J_10p_3m_10%_20s-2.dzn,110,120.000000,105,100,106.9,medium,10,10,20,2,3,98,-10.916667,our,< -1
2,100J_10p_3m_10%_20s-3.dzn,126,132.666667,121,100,121.6,medium,10,10,20,3,3,110,-8.341709,our,< -1
3,100J_10p_3m_10%_20s-4.dzn,114,117.500000,108,100,109.4,medium,10,10,20,4,3,97,-6.893617,our,< -1
4,100J_10p_3m_10%_20s-5.dzn,105,113.333333,101,100,102.5,medium,10,10,20,5,3,90,-9.558824,our,< -1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,50J_30p_5m_50%_5s-1.dzn,410,412.666667,410,50,410.0,medium,30,50,5,1,5,410,-0.646204,our,-1 to 0
596,50J_30p_5m_50%_5s-2.dzn,355,359.500000,355,50,355.0,medium,30,50,5,2,5,355,-1.251739,our,< -1
597,50J_30p_5m_50%_5s-3.dzn,385,385.000000,385,50,385.0,medium,30,50,5,3,5,385,0.000000,equal,equal
598,50J_30p_5m_50%_5s-4.dzn,404,405.500000,404,50,404.0,medium,30,50,5,4,5,404,-0.369914,our,-1 to 0
599,50J_30p_5m_50%_5s-5.dzn,434,434.000000,434,50,434.0,medium,30,50,5,5,5,434,0.000000,equal,equal

In [152]:
df.query("our_sa_min ==  LB")

,instance_name,damodaran_min,damodaran_mean,our_sa_min,Jobs,our_sa_mean,size,MaxP,Rho,MaxS,Instance,Machines,LB,gap,label,label_nuances
5,100J_10p_3m_10%_5s-1.dzn,67,68.833333,67,100,67.7,medium,10,10,5,1,3,67,-1.646489,our,< -1
6,100J_10p_3m_10%_5s-2.dzn,59,59.833333,59,100,59.3,medium,10,10,5,2,3,59,-0.891365,our,-1 to 0
7,100J_10p_3m_10%_5s-3.dzn,63,64.000000,62,100,63.0,medium,10,10,5,3,3,62,-1.562500,our,< -1
8,100J_10p_3m_10%_5s-4.dzn,60,61.333333,60,100,60.5,medium,10,10,5,4,3,60,-1.358696,our,< -1
9,100J_10p_3m_10%_5s-5.dzn,63,64.000000,63,100,63.3,medium,10,10,5,5,3,63,-1.093750,our,< -1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,50J_30p_5m_50%_5s-1.dzn,410,412.666667,410,50,410.0,medium,30,50,5,1,5,410,-0.646204,our,-1 to 0
596,50J_30p_5m_50%_5s-2.dzn,355,359.500000,355,50,355.0,medium,30,50,5,2,5,355,-1.251739,our,< -1
597,50J_30p_5m_50%_5s-3.dzn,385,385.000000,385,50,385.0,medium,30,50,5,3,5,385,0.000000,equal,equal
598,50J_30p_5m_50%_5s-4.dzn,404,405.500000,404,50,404.0,medium,30,50,5,4,5,404,-0.369914,our,-1 to 0
599,50J_30p_5m_50%_5s-5.dzn,434,434.000000,434,50,434.0,medium,30,50,5,5,5,434,0.000000,equal,equal

In [164]:
df.query("our_sa_min <  LB")

Empty DataFrame
Columns: [instance_name, damodaran_min, damodaran_mean, our_sa_min, Jobs, our_sa_mean, size, MaxP, Rho, MaxS, Instance, Machines, LB, gap, label, label_nuances]
Index: []

In [154]:
df[["size","Instance"]].groupby(["size"]).count()

        Instance
size
large        120
medium       240
small        240

In [155]:
df[["size","label","Instance"]].groupby(["size","label"]).count()

                  Instance
size   label
large  damodaran        17
       equal            15
       our              88
medium damodaran        12
       equal            44
       our             184
small  equal            79
       our             161

In [156]:
df[["size","label_nuances","Instance"]].groupby(["size","label_nuances"]).count()

                      Instance
size   label_nuances
large   0 to 1              10
       -1 to 0              27
       < -1                 61
       >1                    7
       equal                15
medium  0 to 1               5
       -1 to 0              42
       < -1                142
       >1                    7
       equal                44
small  -1 to 0              29
       < -1                132
       equal                79

In [157]:
df[["size","gap"]].groupby(["size",]).mean()

             gap
size
large  -3.567042
medium -4.628416
small  -3.140336

In [158]:
df[["size","gap"]].groupby(["size",]).std()

             gap
size
large   5.119844
medium  5.134567
small   3.772496

In [159]:
fig,ax1 = plt.subplots(nrows=1, ncols=1, figsize=(8,4))
order = ["small","medium","large"]
palette = ["white","white","white"] #[sns.color_palette()[0],sns.color_palette()[1]]
fontsize_title = 20
fontsize=18

sns.boxplot(ax=ax1, x='size', y='gap', data=df, order=order,palette=palette, hue="size",linecolor="black")#  boxprops=dict(facecolor='#FFFFFF', alpha=1, zorder = 1)
#sns.swarmplot(ax=ax, x='size', y='gap', data=df, order=order, s=7, palette=palette,alpha = 0.75)
ax1.set_ylabel('gap [%]', )
ax1.set_xlabel(None, )
#ax1.set_ylim(-30,10)
# ax1.set_title("UC-1",fontsize=fontsize_title)
ax1.tick_params(axis='both', which='major', )
# ax1.get_legend().set_visible(False)

plt.tight_layout()
fig.figure.savefig(f"gap-damodaran.pdf",)

In [160]:
df

,instance_name,damodaran_min,damodaran_mean,our_sa_min,Jobs,our_sa_mean,size,MaxP,Rho,MaxS,Instance,Machines,LB,gap,label,label_nuances
0,100J_10p_3m_10%_20s-1.dzn,104,112.166667,102,100,103.2,medium,10,10,20,1,3,93,-7.994056,our,< -1
1,100J_10p_3m_10%_20s-2.dzn,110,120.000000,105,100,106.9,medium,10,10,20,2,3,98,-10.916667,our,< -1
2,100J_10p_3m_10%_20s-3.dzn,126,132.666667,121,100,121.6,medium,10,10,20,3,3,110,-8.341709,our,< -1
3,100J_10p_3m_10%_20s-4.dzn,114,117.500000,108,100,109.4,medium,10,10,20,4,3,97,-6.893617,our,< -1
4,100J_10p_3m_10%_20s-5.dzn,105,113.333333,101,100,102.5,medium,10,10,20,5,3,90,-9.558824,our,< -1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,50J_30p_5m_50%_5s-1.dzn,410,412.666667,410,50,410.0,medium,30,50,5,1,5,410,-0.646204,our,-1 to 0
596,50J_30p_5m_50%_5s-2.dzn,355,359.500000,355,50,355.0,medium,30,50,5,2,5,355,-1.251739,our,< -1
597,50J_30p_5m_50%_5s-3.dzn,385,385.000000,385,50,385.0,medium,30,50,5,3,5,385,0.000000,equal,equal
598,50J_30p_5m_50%_5s-4.dzn,404,405.500000,404,50,404.0,medium,30,50,5,4,5,404,-0.369914,our,-1 to 0
599,50J_30p_5m_50%_5s-5.dzn,434,434.000000,434,50,434.0,medium,30,50,5,5,5,434,0.000000,equal,equal

In [161]:
fig,ax1 = plt.subplots(nrows=1, ncols=1, figsize=(8,4))

In [162]:
df_small = pd.DataFrame()
tmp = df.query("size == 'small'")[["instance_name","our_sa_mean"]].rename(columns = {"our_sa_mean":"cost"})
tmp["algorithm"] = "SA"
df_small = pd.concat([df_small,tmp])
tmp = df.query("size == 'small'")[["instance_name","damodaran_mean"]].rename(columns = {"damodaran_mean":"cost"})
tmp["algorithm"] = "Damodaran et al."
df_small = pd.concat([df_small,tmp])

df_medium = pd.DataFrame()
tmp = df.query("size == 'medium'")[["instance_name","our_sa_mean"]].rename(columns = {"our_sa_mean":"cost"})
tmp["algorithm"] = "SA"
df_medium = pd.concat([df_medium,tmp])
tmp = df.query("size == 'medium'")[["instance_name","damodaran_mean"]].rename(columns = {"damodaran_mean":"cost"})
tmp["algorithm"] = "Damodaran et al."
df_medium = pd.concat([df_medium,tmp])

df_large = pd.DataFrame()
tmp = df.query("size == 'large'")[["instance_name","our_sa_mean"]].rename(columns = {"our_sa_mean":"cost"})
tmp["algorithm"] = "SA"
df_large = pd.concat([df_large,tmp])
tmp = df.query("size == 'large'")[["instance_name","damodaran_mean"]].rename(columns = {"damodaran_mean":"cost"})
tmp["algorithm"] = "Damodaran et al."
df_large = pd.concat([df_large,tmp])

In [163]:
fig,(ax1,ax2,ax3) = plt.subplots(nrows=3, ncols=1, figsize=(15,10))
sns.boxplot(data=df_small, x="algorithm",y="cost",ax=ax1,
                palette=["white","white","white"],hue="algorithm"
                )
# ax1.set_ylim(0.0,1.1)
# ax1.set_xlim(0.5,41)
#ax1.get_legend().set_visible(False)
ax1.set_xlabel(None)
ax1.tick_params(labelbottom=False) 
ax1.set_title("Small")
sns.boxplot(data=df_medium, x="algorithm",y="cost",ax=ax2,palette=["white","white","white"],hue="algorithm")
# ax2.set_ylim(0.0,1.1)
# ax2.set_xlim(0.5,41)
# ax2.get_legend().set_visible(False)
ax2.set_xlabel(None)
ax2.tick_params(labelbottom=False) 
ax2.set_title("Medium")
sns.boxplot(data=df_large, x="algorithm",y="cost",ax=ax3,palette=["white","white","white"],hue="algorithm")
# ax3.set_ylim(0.0,1.1)
# ax3.set_xlim(0.5,41)
ax3.set_title("Large")

plt.legend(loc='lower left', ncol = 4, )#bbox_to_anchor =(0.5, 1.4))
fig.figure.savefig(f"cost-damodaran.pdf",)

/var/folders/tm/vk6plqp1543cptt9z15vkbk40000gn/T/ipykernel_69894/2132996198.py:2: UserWarning: The palette list has more values (3) than needed (2), which may not be intended.
  sns.boxplot(data=df_small, x="algorithm",y="cost",ax=ax1,
/var/folders/tm/vk6plqp1543cptt9z15vkbk40000gn/T/ipykernel_69894/2132996198.py:11: UserWarning: The palette list has more values (3) than needed (2), which may not be intended.
  sns.boxplot(data=df_medium, x="algorithm",y="cost",ax=ax2,palette=["white","white","white"],hue="algorithm")
/var/folders/tm/vk6plqp1543cptt9z15vkbk40000gn/T/ipykernel_69894/2132996198.py:18: UserWarning: The palette list has more values (3) than needed (2), which may not be intended.
  sns.boxplot(data=df_large, x="algorithm",y="cost",ax=ax3,palette=["white","white","white"],hue="algorithm")
No artists with labels found to put in legend.  Note that artists whose label start with an underscore are ignored when legend() is called with no argument.